.language-change-wrapper {
    color: var(--ui-text);
    position: relative;
    background-color: var(--ui-overlay-light);
    border-radius: 0.3rem;
    overflow: hidden;
    margin-right: 0.3rem;

    .language-change {
        border: none;
        height: 2.5rem;
        width: 6.5rem;
        border-radius: 0.3rem;
        background: transparent;
        padding-right: 1.25rem;
        text-align: center;
        outline: none;
        appearance: none;
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9375rem;
        z-index: 1;
        position: relative;
        border: 0.125rem solid var(--ui-background-mid);

        &:hover,
        &:focus {
            border-color: var(--ui-accent);
            color: var(--ui-accent);
        }

        &:hover + .icon,
        &:focus + .icon {
            fill: var(--ui-accent);
        }
    }

    .icon {
        position: absolute;
        right: 1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s ease;
        z-index: 0;
    }
}
