.product-wrapper {
    text-decoration: inherit;
    color: inherit;

    .product {
        width: 300px;
        height: 370px;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        border: 3px solid transparent;
        border-color: rgba(255, 255, 255, 0.05);
        transition: border-color 0.2s ease;
        cursor: pointer;

        &:hover {
            border-color: rgba(255, 255, 255, 0.116);
        }

        .image-wrapper {
            width: 250px;
            height: 250px;
            margin: auto;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.05);
            background-image: url(../assets/product.svg);
            background-repeat: no-repeat;
            background-size: 64px;
            background-position: center;
            box-shadow: 0 8px 24px rgb(0 0 0 / 4%);

            .image,
            span {
                width: 100%;
            }

            .listen-button {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 48px;
                border-radius: 100%;
                backdrop-filter: blur(30px);
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover {
                .listen-button {
                    opacity: 1;
                }
            }

            &,
            .image {
                transition: all 0.3s ease;
            }
        }

        h3 {
            color: white;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 20px 0;
        }

        .old-price {
            color: rgba(255, 255, 255, 0.2);
            margin-right: 5px;
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            img {
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}