.product-wrapper {
    text-decoration: inherit;
    color: inherit;
}
.product {
    box-sizing: border-box;
    height: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 3px solid transparent;
    text-align: center;
}
.product:hover {
    border-color: rgba(255, 255, 255, 0.116);
}
.product .image-wrapper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(255,255,255,.05);
    background-image: url(../assets/product.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
    box-shadow: 0 8px 24px rgb(0 0 0 / 4%);
}
.product .image-wrapper .image, .product .image-wrapper span {
    width: 100%;
}
.product .image-wrapper .listen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 48px;
    backdrop-filter: blur(30px);
    border-radius: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}
.product:hover .image-wrapper .listen-button {
    opacity: 1;
}
.product .image-wrapper .image, .product .image-wrapper {
    transition: all 0.3s ease;
}
.product h3 {
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: 500;
}
.product .old-price {
    color: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
}
.product .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product .title img {
    width: 20px;
    margin-right: 5px;
}